name: "Unit tests"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  unitests:
    strategy:
      matrix:
        os: [large-ubuntu-plugin-sdk, large-windows-plugin-sdk, macos-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - run: go mod download
      - run: go build ./...
      - name: Run tests
        run: make test
      - name: Run benchmark
        if: matrix.os == 'large-ubuntu-plugin-sdk'
        run: make benchmark-ci
      - name: Save PR number
        if: matrix.os == 'large-ubuntu-plugin-sdk' && github.event_name == 'pull_request'
        run: echo ${{ github.event.number }} > ./pr_number
      - name: Upload deltas
        if: matrix.os == 'large-ubuntu-plugin-sdk'
        uses: actions/upload-artifact@v3
        with:
          name: delta-action-benchmarks
          retention-days: 7
          path: |
            .delta.*
            pr_number
